<div class="sidebar">
    <div class="menu-item" routerLink="admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="icon">🏠</i> 
        <span>Dashboard</span>
    </div>
    <div class="menu-item" routerLink="admin/user-management" routerLinkActive="active">
        <i class="icon">👤</i> 
        <span>Quản lý người dùng</span>
    </div>
    <div class="menu-item" routerLink="admin/area-management" routerLinkActive="active">
        <i class="icon">📍</i> 
        <span>Quản lý khu vực</span>
    </div>
    <div class="menu-item" routerLink="admin/restaurant-management" routerLinkActive="active">
        <i class="icon">🍴</i> 
        <span>Quản lý nhà hàng</span>
    </div>
</div>
